
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Solenoid Demo on IOS-XR</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
  </head>

  <body>
  <div id= 'wrap'>
    <header id="header">
      <div class="innertube">
        <h1>{{Title}}</h1>
      </div>
    </header>

    <div id="wrapper">

      <main>
        <div id="content">
          <div class="innertube">
            <h3>Latest Update on ExaBGP</h3>
            <p>Solenoid is currently listening to the updates that Exabgp recieves. It will then inject the announce and withdraw request into the rib table. A controller of any sort can be in place of exabgp.  </p>
            <p>
             <div id='table-scroll'>
              <table  id="exa">
                  <thead>
                      <tr>
                          <th>Peer IP</th>
                          <th>Update Type</th>
                          <th>Next Hop</th>
                          <th>Network</th>
                          <th>Time</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
             </div>
            </p>
            <hr>
            <h3>RIB table on Router</h3>
            <p>The RIB table is shown here through restconf. The RIB table is continously updated, reflecting what Solenoid has injected. </p>
            <p>
              <table  id="rib">
                  <thead>
                      <tr>
                          <th>Prefix</th>
                          <th>Next Hop</th>
                      </tr>
                  </thead>
                    <tbody>
                      {% for prefix in content2['Cisco-IOS-XR-ip-static-cfg:router-static']['default-vrf']['address-family']['vrfipv4']['vrf-unicast']['vrf-prefixes']['vrf-prefix'] %}
                          <tr>
                              <td id="prefix">{{prefix['prefix']}} </td>
                              <td id="next-hop">{{prefix['vrf-route']['vrf-next-hop-table']['vrf-next-hop-next-hop-address'][0]['next-hop-address'] }} </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </p>
          </div>
        </div>
      </main>

      <nav id="nav">
        <div class="innertube">
          <h3>Topology</h3>
          <img src={{url_for('static', filename='Topology.png')}} alt="Topology" style='width:261px; height:auto;'>
          <p> A BGP network is shown above. Networks are automatically announced and withdrawn by another bgp speaker  at a fixed interval. </p>
          <p> Solenoid is running in an Ubuntu container, that is sitting on an IOS-XRv image.</p>
            <h3>Prefix Filtering</h3>
            <p>Solenoid can use filtering to only pass designated prefixes that fall in a prefix range or indivdual prefix</p>
            <p>In the website you can add or remove prefixes or a prefix range using the toggle key and input box </p>
            <p>
              <form id="myform" class='myForm' name="ip_address_form">
                <fieldset>
                <legend>Prefix</legend>
                <p><label class="choice"> <input type="radio" id='network' name="network" required value="add"> Add </label>
                <label class="choice"> <input type="radio" id='network' name="network" required value="remove"> Remove</label></p>
                </fieldset>
                </br>
                <label>Prefix:
                  <input type="text" id='ip_address' name="ip_address" placeholder='1.1.1.1/32' required>
                </label>
                <input id="submit_b" name="submit_b" type="submit" value="Submit"/>
              </form>
              <div id="table-prefix">
              <table id="prefix">
                <thead>
                   <tr>
                      <th>Prefix List</th>
                   </tr>
                <thead>
                <tbody>
                   <tr>
                      <td></td>
                   </tr>
                 </tbody>
              </table>
              </div>
            </p>
        </div>
      </nav>


    </div>

    <footer id="footer">
      <div class="innertube">
        <p>© 2016 Cisco</p>
        <p>Contact: hackers@cisco.com</p>
      </div>
    </footer>
  </div>
    <script src={{url_for('static', filename='jquery-1.12.1.js')}} type="text/javascript"></script>
    <script src={{url_for('static', filename='refresh.js')}} type="text/javascript"></script>
        <script>
            $(function() {
                $("#myform").on("submit", function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/prefix_change",
                        type: 'GET',
                        data: $(this).serialize(),
                        beforeSend: function() {
                         $("#sumbit_b").prop('disabled', true);
                        },
                        success: function(data) {
                            $("#submit_b").prop("disabled", false);
                            $("#response").html(data);
                            $("#ip_address").val("")
                            getprefix();
                        },
                        error: function(data) {
                            alert(JSON.parse(data.responseText)['message']);
                        }
                    });
                });
            });
        </script>
  </body>
</html>

