body {
  margin:0;
  padding:0;
  line-height: 1.5em;
  background: #46A040; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #46A040, #0096D6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #46A040, #0096D6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #46A040, #0096D6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #46A040, #0096D6); /* Standard syntax */
}

h1 {
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-color: #444444;
  line-height: 28.6px;
}

h3 {
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-color: #444444;
  line-height: 28.6px;
}

p {
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-color: #525252;
  line-height: 20px;
}


label{
  padding-left: 10px;
}
#wrap {
  width: 960px;
  margin: 5px auto;
  background: white;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#header {
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-color: #444444;
  line-height: 28.6px;
  background: #ccc;
  height: 75px;
  padding-top:15px;
}

.box{
  padding: 1em;
  border:1px solid #ccc;
  border-radius: 3px;
  width: 1335px;
}

.box * {
  box-sizing: border-box;
}

#header h1 {
  margin: 0;
  padding-top: 15px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

#nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 295px;
  margin-left: -100%;
  background: #eee;
}

#footer {
  clear: left;
  width: 100%;
  background: #ccc;
  text-align: center;
  padding: 4px 0;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 295px; /* Same as 'nav' width */
  margin-right: 50px;
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}
.myForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  padding: 5px 5px 15px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: -5px -5px 5px #888;
  width: 255px;
  background: white;
}

.myForm * {
  box-sizing: border-box;
}

.myForm button {
  padding: 0.7em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
}

.myForm button:hover {
  background: #ccc;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: -5px -5px 5px #888;
  border-radius: 3px;
}

th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
}

td {
  border: 1px solid #ccc;
  vertical-align: center;
  text-align:center;
  padding: 15px;
}

#table-scroll{
  overflow:auto;
  margin-top:20px;
  height: 475px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: -5px -5px 5px #888;
}

#table-prefix{
  background: white;
  margin-top: 20px;
  width: 265px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: -5px -5px 5px #888
}

#table-prefix td{
  padding:5px;
}

input:required {
  box-shadow: none;
}
